.about-us {
  padding: 100px 0;
  background-image:
    url(../img/aboutUs-top-bg.png),
    url(../img/about-us-bg.jpg);
  background-repeat: no-repeat,no-repeat;
  background-position: left 0 top 0, center;
  background-size: cover,cover;

  // @include viewport--sav {
  //   min-height: auto;
  // }
}

.about-us__title {
  @include font(48, 48);
  @include space;
  margin: 0 0 100px;

  @include viewport--sm {
    @include font(35, 35);
  }

  @include viewport--xs {
    @include font(23, 23);
    margin: 0 0 50px;
  }
}
