.btn {
  @include font(18, 21);
  width: 100%;
  display: inline-block;
  padding: 15px 30px;

  vertical-align: middle;
  text-align: center;
  // color: $white;
  text-transform: uppercase;
  // text-decoration: none;
  border: 1px solid $white;

  &:hover,
  &:focus {
    @include hover;
    color: $red;
    border-color: $red;
  }

  @include viewport--av {
    @include font(18, 22);
    padding: 10px 20px;
  }

  @include viewport--sm {
    @include font(14, 18);
    padding: 10px 20px;
  }
}
