.card-desription {
  width: 100%;
}

.card-description__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  p {
    margin: 0;
  }
}

.card-description__text {
  @include font(16, 19);
  width: calc(165 / 601 * 100%);

  @include viewport--md {
    @include font(12, 14);
  }
}

.card-description__table-info {
  @include font(12, 14);
  margin: 0 0 50px;
}

.card-description__link-btn {
  width: 300px;
  padding: 19px 30px;

  @include viewport--av {
    @include font(18, 22);
    padding: 10px 20px;
  }

  @include viewport--sm {
    @include font(14, 18);
    padding: 10px 20px;
  }

  @include viewport--xs {
    width: 100%;
  }
}
