.header {
  width: 100%;
  min-height: 1100px;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include viewport--av {
    min-height: 980px;
  }

  @include viewport--sm {
    min-height: 720px;
  }
}

.header__top {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 74px 0 299px;

  @include viewport--sav {
    padding: 30px 0 180px;
  }

  @include viewport--xs {
    padding: 30px 0 100px;
  }
}

.header__open-menu {
	display: none;

  @include viewport--sav {
    position: absolute;
		top: 35px;
		left: 30px;
		display: block;
		padding: 0;
		background: 0 0;
		border: 0;
		outline: 0;
		color: inherit;

		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 20;

    span {
			display: block;
			width: 24px;
			height: 22px;
			position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%,-50%);
			font-size: 0;

			background-image: linear-gradient($red, $red);
			background-repeat: no-repeat;
			background-size: 100% 2px;
			background-position: left center;

			&::before {
				width: 30px;
				top: 0;
				content: "";
				position: absolute;
				left: 0;
				// width: 100%;
				height: 2px;
				background-color: $red;
				transform-origin: 50% 50% 0;
				transition: .3s ease;
			}

			&::after {
				width: 30px;
				bottom: 0;
				content: "";
				position: absolute;
				left: 0;
				// width: 100%;
				height: 2px;
				background-color: $red;
				transform-origin: 50% 50% 0;
				transition: .3s ease;
			}
		}
  }
}

.header__close-menu {

  @include viewport--sav {
    span {
			background-image: none;

			&::before {
				transform: translateY(10px) rotate(-45deg);
				left: -2px;
				width: 34px;
			}

			&::after {
				transform: translateY(-10px) rotate(45deg);
				left: -2px;
				width: 34px;
			}
		}
  }
}

.header__nav {
  width: 48.2%;
  margin-right: 20%;

  @include viewport--lav {
    width: auto;
    margin-right: 0;
  }

  @include viewport--lg {
    @include font(14, 16);
  }

  @include viewport--sav {
    position: fixed;
    left: 30px;
    top: 67px;
    z-index: 10500;
    display: none;
    width: 240px;
    margin-right: 0;
    margin-left: auto;
    padding: 0;
    background-color: #51647A;
    transition: 4s linear;
  }
}

.header__nav-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  gap: 31px;

  @include viewport--sav {
    display: flex;
		flex-direction: column;
    gap: 0;
    transition: 4s linear;

    li {
      width: 100%;
			border-bottom: 2px solid $red;

      &:first-child {
				border-top: 2px solid $red;
			}

      a {
        display: inline-block;
				width: 100%;
        padding: 15px;
      }
    }
  }
}

.header__nav-link {
  padding: 10px 0;
  text-transform: uppercase;

  &:hover,
  &:focus {
    @include hover;
    color: $red;
  }
}

.header__phone {
  width: 20.6%;
  display: flex;
  justify-content: space-between;
  // align-items: center;

  @include viewport--lav {
    width: auto;
    margin-left: auto;
  }

  @include viewport--lg {
    align-items: center
  }
}

.header__phone-link {
  @include font(24, 29);
  padding-right: 5px;

  &:hover,
  &:focus {
    @include hover;
    color: $red;
  }

  @include viewport--lg {
    @include font(16, 18);
  }
}

.header__phone-icon {
  @include viewport--lg {
    width: 25px;
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  min-height: 564px;

  @include viewport--av {
    min-height: 450px;
  }

  @include viewport--sm {
    min-height: auto;
    flex-direction: column;
  }
}

.header__bottom-info {
  width: 50%;

  @include viewport--av {
    width: calc(100% / 2 + 20px);
  }

  @include viewport--sm {
    margin-bottom: 50px;
  }

  @include viewport--xs {
    width: 100%;
  }
}

.header__bottom-description {
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;

  @include viewport--av {
    width: calc(100% / 3 + 50px);
  }

  @include viewport--sm {
    align-self: center;
    width: 100%;
  }

  @include viewport--xs {
    text-align: center;
  }
}
