.header-info {
  width: 100%;

  .header-info__link-btn {
    @include font(24, 29);

    @include viewport--av {
      @include font(18, 22);
      padding: 10px 20px;
    }

    @include viewport--sm {
      @include font(14, 18);
      padding: 10px 20px;
    }
  }
}

.header-info__title {
  @include font(60, 60);
  @include space;
  margin: 0;

  span {
    @include font(110, 106);
    display: block;
    transform: translateY(-20px);

    @include viewport--av {
      @include font(82, 82);
    }

    @include viewport--sm {
      @include font(55, 55);
    }

    @include viewport--xs {
      @include font(46, 46);
    }
  };

  @include viewport--av {
    @include font(45, 45);
  }

  @include viewport--sm {
    @include font(30, 30);
  }

  @include viewport--xs {
    @include font(25, 45);
  }
}

.header-info__block-slogan {
  width: 99%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;

  p {
    @include font(24, 29);
    margin: 0;

    @include viewport--av {
      @include font(17, 19);
    }

    @include viewport--sm {
      margin: 10px 0;
    }
  }

  @include viewport--sm {
    flex-direction: column;
  }
}
