.info-block {
  width: 100%;
}

.info-block__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;

  @include viewport--sm {
    flex-direction: column;
    width: 100%;
  }

  @include viewport--xs {
    margin-bottom: 90px;
  }
}

.info-block__card-center {
  .info-block__card-img {
    order: 1;

    @include viewport--sm {
      order: 0;
    }
  }
}

.info-block__card-bottom {
  margin-bottom: 0;
}

.info-block__card-img {
  width: calc(500 / 1200 * 100%);
  // min-height: 540px;
  object-fit: cover;

  @include viewport--sm {
    width: 100%;
    margin: 0 auto;
    object-fit: initial;
  }
}

.info-block__card-content {
  width: calc(601 / 1200 * 100%);

  @include viewport--md {
    width: calc(645 / 1200 * 100%);
  }

  @include viewport--sm {
    width: 100%;
  }
}

.info-block__card-title {
  @include font(30, 36);
  margin: 0 0 5px;
}

.info-block__card-subtitle {
  @include font(12, 14);
  display: block;
  margin-bottom: 31px;
  text-transform: uppercase;
  color: $blue;
}
