.offer-slider {
  width: 100%;
}

.offer-slider__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -130px;
  cursor: pointer;
  z-index: 10;

  &--left {
    left: -130px;
  }
}

.offer-slider__img {
  @include viewport--xs {
    width: 90%;
  }
}


