.table {
  width: 100%;
  margin-bottom: 50px;
  border-collapse: collapse;

  &--center {
    margin-bottom: 20px;
  }

  @include viewport--mav {
    text-align: center;
  }

  @include viewport--md {
    width: 90%;
  }

  @include viewport--sm {
    width: 100%;
  }
}

.table__row-top {
  @include font(16, 19);
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;

  td:first-child {
    padding: 10px 10px 10px 0;
  }

  td {
    padding: 10px;
  }

  td:last-child {
    padding: 10px 0 10px 10px;
  }

  @include viewport--md {
    @include font(12, 14);
  }

  @include viewport--sav {
    display: none;
  }
}

.table__row-bottom {
  @include font(36, 43);
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid $white;

  span {
    display: block;
    @include font(14, 17);
    padding-bottom: 6px;

    @include viewport--md {
      @include font(12, 14);
    }

    @include viewport--sav {
      display: inline-block;
      margin-left: 5px;
    }
  }

  @include viewport--md {
    @include font(25, 29);
  }

  @include viewport--sav {
    @include font(18, 22);
    display: block;
    border-top: 1px solid $white;

    td {
      display: block;
      text-align: right;
      border-bottom: 1px solid $white;

      &::before {
        content: attr(aria-label);
        float: left;
      }
    }

    td:last-child {
      border-bottom: none;
    }
  }
}

// .table__cost-info {
//   @include font(12, 14);
//   margin: 0 0 50px;
// }
