/* Плагины */
@import "plugins/normalize";
@import "plugins/libs";
// @import "plugins/slick";
// @import "plugins/jquery.fancybox";

/* Общие */
@import "variables";
@import "mixins";
@import "fonts";
@import "global";

/* Форма */


/* Блоки */
@import "blocks/container";
@import "blocks/header-info";
@import "blocks/btn";
@import "blocks/header-description";
@import "blocks/about-us";
@import "blocks/info-block";
@import "blocks/card-desription";
@import "blocks/table";
@import "blocks/how-working";
@import "blocks/promo";

/* Шапка */
@import "blocks/header";

/* Подвал */


/* Карточка товара */


/* main */

